{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <p class="article-content">Price: ${{object.price}}</p>
      <p class="article-content">Sqft: {{object.sqft}}</p>
      <p class="article-content">City: {{object.city}}</p>
      <form action ="{% url 'like_post' %}" method='post'>
        {% csrf_token %} 
        {% if is_liked %}
        {% else %}
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
          <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Dislike</button>
        {% endif %}
      </form>
      <img src="{{post.photo_main.url}}" style="width:700px;height:500px;">
      <br><br>
          <video width='400' controls>
          <source src='{{post.videofile.url}}{{ videofile }}' type='video/mp4'>
          Your browser does not support the video tag.
          </video> 
          <br><br>
      <br><br>
      <hr>
      <div class= "main-comment-section">

      </div>
    </div>
  </article>


{% endblock content %}